// -----------------------------------------------------------------------------
// This file contains all styles related to the blog post teaser / short version.
// -----------------------------------------------------------------------------
.blog-post-teaser {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
    justify-content: flex-start; 
    
    flex-direction: column;
    align-content: stretch;

    // Add margin to root 
    & {
        margin-bottom: $rhytm-base * 7;
    }
    
    * {
        pointer-events: none;
    }

    /// Header
    &__header {
        order: 1;
        flex: 0 1 auto;
        align-self: auto;

        width: 100%;

        padding: $rhytm-base $inner-padding-small 0 $inner-padding-small;

        /// Link to content
        a {
            pointer-events: all;
            outline: none;
            text-align: center;

            // No text effects on hover.
            @include on-event {
                text-decoration: none;
            }
        }

        /// Read more text after tex
        a::after {
            content: attr(data-more-text);
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 700;
            border: solid 1px Black;
            line-height: $rhytm-base * 4;
            font-size: 0.75em;
            width: 33%;
            min-width: 150px;
            margin: $rhytm-base * 2  auto 0 auto;
        }

        h1 {
            margin: 0 0 $rhytm-base * 2 0;
            padding: 0 0;
            font-size: 1.25em;
            line-height: 200%;
            border-bottom: 1px solid Black;
            text-align: left;
            display: inline-block;
        }
    }

    /// Text
    &__text {
        margin: 0 0 $rhytm-base 0;
        text-align: justify;
        font-weight: 300;
        font-size: .875em;
        hyphens: auto;
    }    

    /// Content
    &__content {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        line-height: 0;

        a {
            outline: none;
            display: block;
            line-height: 0;
        }
        
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        margin: 0 0;
        /* display: grid;
        gap: 0 $grid-column-gap-desktop;
        grid-template-columns: 30vw 1fr; */
        //margin-bottom: $grid-row-gap-desktop * 2;
        // cursor: pointer;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-content: flex-start;

        flex-direction: row;
        justify-content: space-between;
        

        &__header {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;

            width: auto;

            text-align: right;
            padding: 0 $grid-column-gap-desktop;

            a {
                display: block;
                overflow: auto;
                text-align: right;
                /* width: 100%;
                text-align: right; */
            }

            /// Read more text after text
            a::after { 
                display: none;
            }

            h1 {
                margin: 0 0;
                padding: 0 0;
                font-size: 1.25em;
                display: inline-block;
                line-height: 200%;
                text-align: left;
            }
        }

        &__text {
            display: inline-block;
            // text-align: justify;
            margin: $rhytm-base 0 0 0;
            width: 400px;
            max-width: 80%;
            //font-weight: 300;
            //font-size: .938em;
            // hyphens: auto;
        }

        // Picture content/
        &__content {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            flex-shrink: 0;

            img {
                display: block;
                width: auto;
                height: calc(100vh - #{$sticky-menu-height-destkop});
                overflow: hidden;
                transition:transform s ease-out;
                transition-delay: 2s;
                will-change: transform;

                transform: translateX(100%);
                transform-origin: right;
            }

            img.loaded {
                transform:translateX(0);
            }

            a {
                display: block;
                line-height: 0;
                font-size: 0;
            }
        }

    }
}

// -----------------------------------------------------------------------------
// First blog post mods.
// -----------------------------------------------------------------------------
/* .blog-post-teaser:first-of-type {
    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        // border: solid 1px Black;
        //height: calc(100vh - 40px - 80px);
        // margin-bottom: $inner-padding-desktop * 2;
    
        .blog-post-teaser__content {
            picture img {
                width: auto;
                height: calc(100vh - #{$sticky-menu-height-destkop});
            }
        }
    }
} */


// -----------------------------------------------------------------------------
// Modifier for zebra CSS.
// -----------------------------------------------------------------------------
.blog-post-teaser--zebra:nth-of-type(even) {

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') {
        .blog-post-teaser__header {
            order: 1;
            text-align: left;

            a {
                text-align: left;
            }
        }
        
        .blog-post-teaser__content {
            order: 0;

            img {
                transform-origin: left;

                transform: translateX(-100%);
            }

            img.loaded {
                transform:translateX(0);
            }
        }
    }
}

// -----------------------------------------------------------------------------
// Modifier for post with url.
// -----------------------------------------------------------------------------
.blog-post-teaser--has-url {
    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        .blog-post-teaser__header {
            a {
                transition: opacity .5s ease-out;
            }

            a.hover,
            a:hover {
                opacity: .5;
            }
        }

        // Effects only when image is loaded.
        .blog-post-teaser__content.loaded {
            pointer-events: none;

            background-image: url('../images/arrow_square.svg');
            background-position: center center;
            background-size: 80px 80px;
            background-repeat: no-repeat;
            cursor: pointer;

            img {
                transition: all .5s ease-in-out;
            }

            a {
                pointer-events: all;
            }

            a.hover,
            a:hover {   
                img {
                    opacity: 0.5;
                    filter: grayscale(100%);
                }
            }
        }
    }
}