// -----------------------------------------------------------------------------
// This file contains all styles related to the blog post teaser / short version.
// -----------------------------------------------------------------------------
.blog-post-teaser {
    &__header {
        a {
            // No text effects on hover.
            @include on-event {
                text-decoration: none;
            }
        }

        h1 {
            margin: 0 0;
            padding: 0 0;
            line-height: 100%;
            font-size: 1.125em;
        }
    }

    &__content {
        picture {
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        display: grid;
        gap: 0 $grid-column-gap-desktop;
        grid-template-columns: 30vw 1fr;
        margin-bottom: $grid-row-gap-desktop;
        // cursor: pointer;

        &__header {
            grid-column: 1 / span 1;

            // Centerify.
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-content: stretch;
            align-items: center;

            a {
                display: block;
                width: 100%;
            }

            h1 {
                margin: 0 0;
                padding: 0 0;
                font-size: 1.25em;
                text-align: right;
                width: 100%;

                &::after {
                    content: "";
                    height: 1px;
                    width: 30%;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: black;
                    margin-left: $grid-row-gap-desktop / 2;
                }
            }
        }

        &__content {
            grid-column: 2 / span 1;
        }

    }
}

// -----------------------------------------------------------------------------
// Modifier for post with url.
// -----------------------------------------------------------------------------
.blog-post-teaser--has-url {
    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        .blog-post-teaser__content {
            background-image: url('../images/arrow_square.svg');
            background-position: center center;
            background-size: 80px 80px;
            background-repeat: no-repeat;

            picture {
                transition: all .5s ease-in-out;
            }

            .hover,
            &:hover {
                picture {
                    opacity: 0.25;
                    filter: grayscale(100%);
                }
            }
        }
    }
}