.contact-box {
    font-family: $menu-font-stack;
    font-weight: $menu-font-weight;

    .contact-box__btn {
        display: block;
        text-align: center;

        border: solid $nav-border-width Black;

        padding: 0 0;
        font-weight: 700;
        line-height: $rhytm-base * 5;
        font-size: .875rem;

        margin-bottom: $rhytm-base * 2;

        cursor: pointer;
        transition: all .5s ease-out;

        // Less important part of addresses.
        .less-important {
            color: lighten(Black, 50);
        }

        @include on-event {
            background-color: $text-color;
            color: white;
            text-decoration: none;
        }
    }

    // Restore good @ size.
    .js-mailprotector {
        span::after {
          font-size: .813rem;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }

    // -----------------------------------------------------------------------------
    // Modifiers.
    // -----------------------------------------------------------------------------
    &.contact-box--margin-top {
        margin-top: $rhytm-base * 3;
    }

    &.contact-box--inverse {
        .contact-box__btn {
            border: solid $nav-border-width Black;
            background-color: Black;
            color: white;

            // Less important part of addresses.
            .less-important {
                    color: darken(White, 50);
            }
    
            @include on-event {
                background-color: White;
                color: Black;
                text-decoration: none;
                
                // Less important part of addresses.
                .less-important {
                    color: black;
                }
            }
        }
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;

        .contact-box__btn {
            // order: 0;
            flex: 1 1 auto;
            align-self: auto;
            text-align: center;
            flex-grow: 1;
            flex-basis: 0;
    
            line-height: $rhytm-base * 5;
            font-size: .875rem;
    
            margin: 0 $rhytm-base;
        }

        > :first-child {
            margin-left: 0;
        }
    
        > :last-child {
            margin-right: 0;
        }
    }
}