// -----------------------------------------------------------------------------
// This file contains all styles related to the project description.
// -----------------------------------------------------------------------------
.project-description {
    padding: $rhytm-base * 6 $inner-padding-small 0 $inner-padding-small;
    margin: 0 0 $rhytm-base * 2 0;
    

    h1 {
        margin: 0 0 $rhytm-base 0;
        padding: 0 0;
        font-size: 1.25em;
        line-height: $header-line-height-mobile;
        border-bottom: 1px solid Black;
        text-align: left;
        display: block;
        //width: 100%;
        // font-weight: $header-font-weight;
    }

    .project-description__text {
        margin: 0 0 0 0;
        text-align: justify;
        font-weight: $text-font-weight;
        font-size: $text-size-mobile;
        hyphens: auto;

        p {
            margin: 0 0;
        }

        p:not(:last-of-type) {
            margin-bottom: $rhytm-base;
        }
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        padding: $grid-row-gap-desktop $grid-column-gap-desktop;

        margin: 0 0;
        width: $grid-row-gap-desktop * 15;
        transition: transform .5s ease-out;

        h1 {
            font-size: 1.25em;
            line-height: $header-line-height-desktop;
            padding: 0 0 $rhytm-base 0;
            width: 100%;
            display: inline-block;
        }

        .project-description__text {
            font-size: $text-size-desktop;
        }

        // -----------------------------------------------------------------------------
        // JS states.
        // -----------------------------------------------------------------------------
        &[aria-hidden="true"] {
            transform: translateX($grid-row-gap-desktop * 15);
        }
    }
    @include respond-to('large') { 

        h1 {
            font-size: 1.5em;
        }
    }
}