// -----------------------------------------------------------------------------
// This file contains all styles related to the carousel on a project page.
// -----------------------------------------------------------------------------

.project-carousel {
    .carousel-cell {
        line-height: 0;
    }

    .carousel-cell:not(:last-of-type) {
        margin-bottom: $grid-row-gap-small;
    }

    .project-carousel__image {
        //
        // Modifiers.
        // 
        &.project-carousel__image--desktop {
            display: none;
        }
    }

    .flickity-button {
        display: none;
    }

    .flickity-page-dots {
        display: none;
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
        outline: none;

        // Flickity slide
        .carousel-cell {
            width: 100%; /* full width */
            height: calc(100vh - #{$sticky-menu-height-destkop + $carousel-dots-bar-height});
            background: White;
            /* center images in cells with flexbox */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .carousel-cell:not(:last-of-type) {
            margin-bottom: 0;
        }

        // Image
        .project-carousel__image {
            cursor: grab;
            //
            // Modifiers.
            // 
            &.project-carousel__image--desktop {
                display: block;
                max-height: 100%;
            }
            &.project-carousel__image--mobile {
                display: none;
            }
        }

        // Slide indicators
        .flickity-page-dots {
            display: block;
            height: $carousel-dots-bar-height;
            line-height: 0;
            text-align: center;
            margin: ($carousel-dots-bar-height/2 - $ux-dot-size) 0 0 0;

            .dot {
                display: inline-block;
                padding: $rhytm-base $rhytm-base/2;
                margin-left: $rhytm-base/2;
                cursor: pointer;

                &::after {
                    content: '';
                    border-radius: 50%;
                    width: $ux-dot-size;
                    height: $ux-dot-size;
                    background-color: $non-active-ux;
                    display: block;
                    transition: all .25s ease-out;
                }
            }

            .dot:hover,
            .dot.is-selected {
                &::after { 
                    background-color: $active-ux;
                }
            }
        }

        // Flickity navigation
        .flickity-button {
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -48px;
            z-index: 10;
            width: 48px;
            height: 48px;
            padding: 0 0;
            border: solid 1px $active-ux;
            background-color: White;
            color: $active-ux;
            cursor: pointer;
            transition: all .25s ease-out;

            &:disabled {
                border: solid 1px $non-active-ux;
                color: $non-active-ux;
                cursor: default;
            }

            &:not(:disabled):hover {
                background-color: black;
                color: white;
            }


            > svg {
                display: none;
            }

            &.next {
                right: $inner-padding-desktop;

                // icon
                &::after {
                    content: ">";
                    display: block;
                }
            }

            &.previous {
                left: $inner-padding-desktop;

                // icon
                &::after {
                    content: "<";
                    display: block;
                }
            }
        }
    }
}