// -----------------------------------------------------------------------------
// This file contains all styles related to the artile on a static page.
// -----------------------------------------------------------------------------

.static-page-content {
    .static-page-content__photo {
        line-height: 0;
    }
    
    .static-page-content__text {
        padding: $rhytm-base * 2 $inner-padding-small $grid-row-gap-small $inner-padding-small;

        h1 {
            margin: 0 0 $rhytm-base * 1.5 0;
            padding: 0 0;
            font-size: 1.5em;
            line-height: $header-line-height-mobile;
            border-bottom: 1px solid Black;
            text-align: left;
            display: inline-block;
            // font-weight: $header-font-weight;
        }

        p {
            margin: 0 0;
            text-align: left;
            font-weight: $text-font-weight;
            font-size: .875em;
            hyphens: auto;
        }

        p:not(:last-of-type) {
            margin-bottom: $rhytm-base * 1.5;
        }
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') {  
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: center;

        .static-page-content__photo {
            height: calc(100vh - #{$sticky-menu-height-destkop});

            order: 0;
            flex: 0 1 auto;
            align-self: auto;

            > img {
                max-height: 100%;
            }
        }

        .static-page-content__text {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;

            max-width: 600px;

            padding: 0 $grid-column-gap-desktop;


            h1 {
                margin: 0 0 $rhytm-base * 2 0;
                font-size: 2em;
                line-height: $header-line-height-desktop;
            }

            p {
                // margin: 0 0;
                text-align: justify;
                font-weight: $text-font-weight;
                // font-size: 1em;
            }
        }
    }
}