// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Header font family
/// @type List
// $header-font-stack: 'Playfair Display', serif !default;
$header-font-stack: 'Roboto', sans-serif !default;
// $header-font-stack:'Roboto Mono', monospace !default;

$header-line-height-mobile: 120% !default;
$header-line-height-desktop: 130% !default;

/// Regular font family
/// @type List
// $text-font-stack: 'Roboto', sans-serif !default;
// $text-font-stack: 'PT Serif', serif !default;
$text-font-stack: 'Montserrat', sans-serif !default;

/// Menu font family
/// @type List
// $menu-font-stack:'Roboto Mono', monospace !default;
$menu-font-stack: 'Roboto', sans-serif !default;


$text-font-weight: 300 !default;
$menu-font-weight: 500 !default;

$text-line-height-mobile: 160% !default;
$text-line-height-desktop: 160% !default;

$header-font-weight: 400 !default;
$header-font-style: normal !default;

$header-letter-spacing-mobile: normal !default;
$header-letter-spacing-desktop: normal !default;


$text-size-mobile: .938em !default;
$text-size-desktop: .875em !default;



/// Copy text color
/// @type Color
$text-color: rgb(0, 0, 0) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(0, 0, 0) !default;

/// Copy text color
/// @type Color
$link-hover-color: lighten($text-color, 20%) !default;




/// Active UX elements
/// @type Color
$active-ux: rgb(0, 0, 0) !default;

/// Non active UX elements
/// @type Color
$non-active-ux: #dcdcdc !default;



/// Header border mobile
/// @type Length
$header-border-mobile: 1px;


/// Header border desktop
/// @type Length
$header-border-desktop: 1px;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @link {https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/}
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints
$breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1400px )
) !default;


/// Rhytm base
/// @type Length
$rhytm-base: 8px !default;



///
/// Row
///

/// Grid gap small
/// @type Length
$grid-row-gap-small: 32px !default;


/// Grid gap desktop
/// @type Length
$grid-row-gap-desktop: 32px !default;

///
/// Column
///

/// Grid gap small
/// @type Length
$grid-column-gap-small: 16px !default;


/// Grid gap desktop
/// @type Length
$grid-column-gap-desktop: 32px !default;


/// Inner padding small.
/// @type Length
$inner-padding-small: 20px !default;


/// Inner padding desktop.
/// @type Length
$inner-padding-desktop: 20px !default;


/// Sticky menu height.
/// @type Length
$sticky-menu-height-destkop: 85px !default;


/// Slide indicator.
/// @type Length
$carousel-dots-bar-height: 64px !default;

/// Slide indicator size.
/// @type Length
$ux-dot-size: $rhytm-base + 2;

/// Nav elements border width.
/// @type Length
$nav-border-width: 1px !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;
