// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// Config.
$hamburger-line-height: 2px;
$hamburger-width: 4 * $rhytm-base + $rhytm-base * 1.5;
$hamburger-height: 4 * $rhytm-base - $rhytm-base;

.main-header {
    display: grid;
    gap: 0 $grid-row-gap-desktop;
    grid-template-columns: 120px 1fr;
    padding: ($inner-padding-small / 2) $inner-padding-small;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 99;

    // Logo on the left.
    &__logo {
        grid-column: 1 / span 1;
        width: auto;
        display: block;
        line-height: 0;
        font-size: 0;

        // Due to smaller size of graphic logo.
        // padding-top: 5px;

        img {
            width: auto;
            height: 32px;
        }

        a {
            display: block;
            outline: none;
            transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

            &:hover {
                opacity: .3;
            }
        }
    }

    // Menu on the right.
    &__menu {
        grid-column: 2 / span 1;
        text-align: right;

        nav {
            line-height: 0;
        }

        // Global hamburger look.

        .hamburger {
            // padding: 10px 0 0 0;
            outline: none;

            //padding: 0 0;
            background-color: transparent;
            border: none;
            padding: ($rhytm-base / 2) 0;

            .hamburger-box {
                pointer-events: none;
                display: block;
                height: $hamburger-height;
                width: $hamburger-width;
                position: relative;

                // Openning button.
                .hamburger-inner {
                    display: block;
                    width: 100%;
                    height: $hamburger-line-height;
                    background-color: black;
                    position: absolute;
                    top: calc(50% - #{$hamburger-line-height / 2});
                }

                // Lines look.
                &::before,
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: $hamburger-line-height;
                    background-color: black;
                    position: absolute;
                }

                // Line 1.
                &::before {
                    top: 0;
                }

                // Line 2.
                &::after {
                    bottom: 0;
                }
            }
        }
    }

    // Menu look
    // Mobile menu look.
    &__menu-container {
        background-color: black;
        color: White;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        text-align: center;
        box-sizing: border-box;
        padding: 20vh $grid-row-gap-small $grid-row-gap-small $grid-row-gap-small;

        // transition: all .35s ease-out;

        will-change: transform, filter;
        transition-property: transform, filter;
        transition-duration: .5s;
        transition-timing-function: ease-out;

        // This is closing button.
        .hamburger.is-active {
            position: absolute;
            top: $inner-padding-small / 2;
            right: $inner-padding-small;

            .hamburger-box {
                width: $hamburger-width - $rhytm-base;

                .hamburger-inner {
                    background-color: white;
                    transform: rotate(45deg);
                    transform-origin: center center;
                }

                &::before {
                    background-color: white;
                    top: calc(50% - #{$hamburger-line-height});
                    transform: rotate(-45deg);
                    transform-origin: center center;
                }

                &::after {
                    display: none;
                }
            }
        }

        // Items look.
        ul {
            padding: 0 0;
            margin: 0 0;
            list-style: none;
            width: 100%;

            li {
                font-family: $menu-font-stack;
                font-weight: $menu-font-weight;
                text-transform: uppercase;

                &::after {
                    content: '';
                    background-color: White;
                    height: 2px;
                    width: 30%;
                    display: inline-block;
                    line-height: 0;
                    position: absolute;
                    left: 35%;
                }

                a {
                    color: White;
                    display: block;
                    font-size: 1.125rem;
                    height: 64px;
                    line-height: 64px;

                    @include on-event {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    // State visible.
    &__menu-container[aria-hidden="false"] {
        transform: translate3d(0, 0, 0);
    }

    // State invisible - offsreen.
    &__menu-container[aria-hidden="true"] {
        // left: 107vw;
        transform: translate3d(110vw, 0, 0);
        filter: blur(10px);
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to("medium") {
        gap: 0 $grid-column-gap-desktop;
        padding: $inner-padding-small $inner-padding-small;

        // Logo on the left.
        &__logo {
            // Due to smaller size of graphic logo.
            padding-top: 0;

            img {
                width: auto;
                height: 40px;
            }
        }

        &__menu {
            // Hide hamburgers.
            .hamburger {
                display: none;
            }
        }

        // Reset menu container.
        // Set to desktop look.
        &__menu-container {
            background-color: transparent;
            color: $text-color;
            width: auto;
            height: auto;
            position: static;
            text-align: right;
            padding: 0 0;
            transform: none;

            // Items look.
            ul {
                font-size: 0;
                padding-top: 44px - 34px;

                li:not(:last-of-type) {
                    margin-right: $grid-column-gap-small * 2;
                }

                li {
                    font-weight: $menu-font-weight;
                    display: inline-block;

                    &::after {
                        display: none;
                    }

                    a {
                        color: $text-color;
                        display: block;
                        font-size: .813rem;
                        height: 34px;
                        line-height: 34px;
                        padding: 0 ($grid-column-gap-small * 2);
                        min-width: 100px;
                        position: relative;
                        text-align: right;

                        &::after {
                            content: "";
                            background-color: $text-color;
                            height: 3px;
                            width: 0;
                            position: absolute;
                            left: 0px;
                            transition: width .5s ease-out;
                        }

                        @include on-event {
                            text-decoration: none;

                            &::after {
                                width: calc(100% - 30px);
                            }
                        }
                    }

                    // Active item.
                    &.active {
                        a {
                            text-decoration: none;

                            &::after {
                                width: calc(100% - 30px);
                            }
                        }
                    }

                    // Important menu item.
                    &.menu-item--important {
                        a {
                            border: solid $nav-border-width Black;
                            text-align: center;
                            transition: all .5s ease-out;

                            &::after {
                                display: none;
                            }

                            @include on-event {
                                background-color: $text-color;
                                color: white;

                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }

                    // Important & active menu item.
                    &.menu-item--important.active {
                        a {
                            background-color: $text-color;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
