/// Main container settings
.main-content {
    max-width: 100%;
    min-height: 100vh;
    // padding: $inner-padding-small;
    transition: filter .6s ease-out;
    
    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
       //  padding: 0 $inner-padding-desktop;
       padding: 0 0;
    }
}

/// During loading...
body[aria-busy="true"] {
    .main-content {
        filter: blur(4px);
    }
}

/// On load
body[aria-busy="false"] {
    .main-content {
        filter: blur(0);
    }
}