/// Main container settings
.main-content {
    max-width: 100%;
    
    // padding: $inner-padding-small;
    transition: filter 1s ease-out;


    //
    // Modifiers
    //
    &.main-content--blog-page {
        min-height: 100vh;
    }

    // -----------------------------------------------------------------------------
    // Media queries.
    // -----------------------------------------------------------------------------
    @include respond-to('medium') { 
       //  padding: 0 $inner-padding-desktop;
       padding: 0 0;

        //
        // Modifiers
        //
        &.main-content--project-page {
            height: calc(100vh - #{$sticky-menu-height-destkop});
            overflow: hidden;
       }
    }
}

/// During loading...
/* body[aria-busy="true"] {
    .main-content {
        filter: blur(4px);
    }
}

/// On load
body[aria-busy="false"] {
    .main-content {
        filter: blur(0);
    }
} */