title = "Start"
url = "/"
layout = "main"
is_hidden = 0

[viewBag]
containerClasses = "main-content--blog-page"

[builderList]
modelClass = "RealheRo\Content\Models\Blog"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
==
<?php
//////////////////////////////////////////////////////////
function onStart() 
{
    /**
     * Load this page specific JS.
     */
    $env = env('APP_ENV', 'production');

    /** @var string $js Path versioned to JS. */
    $js = 'assets/js/blog.js';

    if($env !== 'dev') {
        $js = \Twig::parse("{{ 'assets/js/blog.min.js'|revision }}");
        $this->addJs($js);
    }

    $this->addJs( $js );
}
//////////////////////////////////////////////////////////
function onEnd() 
{
    /** 
     * Page title.
     */
    $this->page->title = '';
}
//////////////////////////////////////////////////////////
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set containerClass = 'blog-post-teaser' %}


<main>
    {% for record in records %}

        {# Do we have an url for this post? #}
        {% if record.url %}
            {% set hasUrl = true %}
            {% set currentClasses = containerClass ~ ' ' ~ containerClass ~ '--has-url' %}
        {% else %}
            {% set hasUrl = false %}
            {% set currentClasses = containerClass %}
        {% endif %}

        {# Comment out to disable Zebra effect on posts #}
        {% set currentClasses = currentClasses ~ ' blog-post-teaser--zebra' %}
        
        <article class="{{ currentClasses }}">
            <header class="blog-post-teaser__header">
                {% if hasUrl %}
                    <a href="{{ record.url }}" class="js-content-loader" data-more-text="{{ 'Read more'|_ }}">
                        <h1>{{ record.title }}</h1>

                        {% if record.text %}
                        <div>
                            <div class="blog-post-teaser__text">
                                {{ record.text|striptags|raw }}
                            </div>
                        </div> 
                        {% endif %}
                    </a>
                {% else %}
                    <div class="dummy-container">
                        <h1>{{ record.title }}</h1>
                        {% if record.text %}
                            <div>
                                <div class="blog-post-teaser__text">
                                    {{ record.text|striptags|raw }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </header>

            <div class="blog-post-teaser__content">
                <img 
                    class="lazy" 
                    alt="{{ record.cover_alt }}"
                    src="{{ record.cover|media|resize(200) }}"
                    data-src="{{ record.cover|media|resize(850) }}"
                    data-srcset="{{ record.cover|media|resize(850) }} 850w,
                        {{ record.cover|media|resize(1200) }} 1200w,
                        {{ record.cover|media|resize(1600) }} 1600w,
                        {{ record.cover|media|resize(2000) }} 2000w"
                    data-sizes="(min-width: 2500px) 2500px,
                        (max-width: 2500px) and (min-width: 1600px) 1600px,
                        (max-width: 1600px) and (min-width: 1200px) 1200px,
                        (max-width: 1200px) 850px,
                        100vw"
                >
            </div>
        </article>
    {% else %}
        <h1>{{ noRecordsMessage }}</h1>
    {% endfor %}
</main>