title = "Start"
url = "/"
layout = "main"
is_hidden = 0

[builderList]
modelClass = "RealheRo\Content\Models\Blog"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set containerClass = 'blog-post-teaser' %}


<main>
    {% for record in records %}

        {# Do we have an url for this post? #}
        {% if record.url %}
            {% set hasUrl = true %}
            {% set currentClasses = containerClass ~ ' ' ~ containerClass ~ '--has-url' %}
        {% else %}
            {% set hasUrl = false %}
            {% set currentClasses = containerClass %}
        {% endif %}
        
        <article class="{{ currentClasses }}">
            <header class="blog-post-teaser__header">
                {% if hasUrl %}
                    <a href="{{ record.url }}" class="js-content-loader">
                        <h1>{{ record.title }}</h1>
                    </a>
                {% else %}
                    <h1>{{ record.title }}</h1>
                {% endif %}
            </header>

            <div class="blog-post-teaser__content">
                {% if hasUrl %}
                    <a href="{{ record.url }}" class="js-content-loader">
                {% endif %}
                        <picture>
                            <source media="(max-width: 799px)" srcset="{{ record.cover|media|resize(850) }}">
                            <source media="(min-width: 800px)" srcset="{{ record.cover|media|resize(2200) }}">
                            <img src="{{ record.cover|media|resize(2200) }}">
                        </picture>
                {% if hasUrl %}
                    </a>
                {% endif %}
            </div>
        </article>
    {% else %}
        <h1>{{ noRecordsMessage }}</h1>
    {% endfor %}
</main>