html, body {
    width: 100%;
    height: auto;
    // min-width: 100vw;
    min-height: 100vh;
    margin: 0 0;
    padding: 0 0;
}

body {
    overflow-y: scroll;
}

body[aria-busy="true"] {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

#preloader {
    width: 100vw;
    height: 100vh;
    background: Black;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .5s ease-out;
    z-index: 1000;
    
    // Center contents
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    // Hide animation
    &.hide {
        opacity: 0;
    }

    // Remove element
    &[aria-hidden="true"] {
        display: none;
    }

    // Element with animated spinner
    > :first-child {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        width: 48px;
        height: 48px;

        animation: rotation 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);

        // Animation before preloade hide.
        /* &.animate-hide {

        } */

        > svg {
            max-width: 100%;
            height: auto;

            path {
                fill: white;
            }
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}