html, body {
    width: 100%;
    height: auto;

    // min-width: 100vw;
    min-height: 100vh;
    margin: 0 0;
    padding: 0 0;
}

body {
    overflow-y: scroll;
}

body[aria-busy="true"] {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#preloader {
    width: 100vw;
    height: 100vh;
    background: Black;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .5s ease-out;
    z-index: 1000;

    // Center contents
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    // Hide animation
    &.hide {
        opacity: 0;
    }

    // Remove element
    &[aria-hidden="true"] {
        display: none;
    }

    // Element with animated spinner
    > :first-child {
        /* order: 0;
        flex: 0 1 auto;
        align-self: auto; */

        //width: 48px;
        //height: 48px;
        font-size: 0;
        color: white;
        height: 96px;
        width: 48px;

        > svg {
            fill: #fff;
            fill-rule: evenodd;
            //height: 64px;
            height: 48px;
            //padding: 4px;
            // will-change: transform, opacity;
            display: block;
        }

        // First M
        > svg:first-of-type {
            opacity: 1;
            margin-bottom: 8px;
            //transform: translateX(50%);
            animation: merge-1 1.5s infinite linear;
        }

        // Second M
        > svg:last-of-type {
            opacity: 1;
            //transform: translateX(-50%);
            animation: merge-2 1.5s infinite linear;
        }
    }




    @keyframes merge-1 {
        0% {
            transform: translateY(0%);
            //filter: blur(4px);
        }
        10%, 50% {
            transform: translateY(calc(50% + 4px));
            //filter: blur(0);
        }
        60%, 100% {
            transform: translateY(0%); 
            //filter: blur(4px);
        }
    }

    @keyframes merge-2 {
        0% {
            transform: translateY(0%);
            //filter: blur(4px);
        }
        10%, 50% {
            transform: translateY(calc(-50% - 4px));
           //filter: blur(0);
        }
        60%, 100% {
            transform: translateY(0%); 
            //filter: blur(4px);
        }
    }
}
